.main-menu.ui.vertical{
  width: 30.3rem;

  .logo {
    text-align: center;

    i.icon {
      float: none;
      margin-right: 1rem;
    }
  }

  .add-repository {
    padding: 1.5rem 3rem;
  }

  .logout {
    width: inherit;
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;

    .user {
      float: left;
      margin-top: 0.5rem;
    }
  }
}
